:root {
  --gray-color: #9aa0a6;
  --light-gray-color: #f2f2f2;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

nav {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.nav-list {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0.5rem;
}

.left,
.right {
  align-items: center;
  display: flex;
  height: 100%;
}

.right {
  justify-content: end;
}

.nav-item {
  color: #202124;
  cursor: pointer;
  height: 14px;
  margin: 0 5px;
  padding: 5px;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-link {
  color: initial;
  text-decoration: none;
}

.nav-icon {
  height: 4vh;
}

.logo {
  height: 5.8rem;
  margin: .5rem auto;
}

#main-search-bar {
  align-items: center;
  border: 1px solid var(--light-gray-color);
  border-radius: 1rem;
  display: flex;
  height: 2.5rem;
  margin: 1rem auto;
  width: 90vh;
}

.search-bar-icon {
  cursor: pointer;
  height: 50%;
  padding: .8rem;
}

#main-search-bar-input {
  border: none;
  height: 100%;
  width: 80%;
}

:focus-visible {
  outline: none;
}

#search-buttons {
  margin: 0 auto;
  width: fit-content;
}

.btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  height: 36px;
  margin: 11px 4px;
  padding: 0 16px;
  text-align: center;
}

.btn:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

#advanced-page form {
  display: grid;
}

#advanced-label-div {
  margin: 2rem 0 1rem;
}

#advanced-label {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
}

#advanced-search {
  margin: 2rem auto;
  width: 70%;
}

#advanced-form-title {
  margin-bottom: 1rem;
}

.advanced-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.advanced-form-label {
  align-self: center;
  font-size: 14px;
}

.advanced-div input {
  font-size: 18px;
  width: 60%;
}

#advanced-submit {
  background-color: #4d90fe;
  color: white;
  font-size: 11px;
  font-weight: bold;
  justify-self: end;
  width: fit-content;
}
